/.idea
/.history
/logs
/node_modules
/public
/dist
/package-lock.json
/yarn.lock
.vscode
typings
typings.json
/.history
/server/node_modules
/server/package-lock.json
/server/yarn.lock
/pp_front/node_modules
/pp_front/package-lock.json
/pp_front/yarn.lock
